body{
    display:flexbox;
    justify-content: normal;
    align-items: normal;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Images/Backgrounds/Gas3.webp");
    background-repeat:space;
    background-size:cover;
}

.Logo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Logo1{
    align-self: stretch;
    width: 90%;
    height: 100%;
}

.MainDiv{
    height: 100%;
}

.Icon1{
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.KeyInputDiv{
    display: flex;
}

.PostoInputDiv{
    display: flex;
}

.KeyInput{
    height: 20px;
}

.PostoInput{
    height: 30px;
    font-size: larger;
    font-weight: bold;
}

.PostoTexto{
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

.InputArea{
    position: absolute;
    width: 100%;
    display:block;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;
}

.InputSectionDiv{
    position: absolute;
    display: block;
    margin-left: 0%;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-content: center;
    bottom: 200px;
}

.Icon{
    margin-right: 20px;
}

.Icon1{
    height: 200px;
}

.PostoInputDiv{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 200px;
}

#ConfirmButtonDiv{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.ConfirmButton{
    cursor: pointer;
    background-color: #2e86b1;
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 17.5px;
    width: 300px;
    height: 100px;
    display: flex;
    margin-top: 25px;
    border-style: outset;
    border-color: #4a95bb;
    border-width: 8px;
    align-content: center;
    justify-content: center;
}

#ConfirmButtonText{
    text-align: center;
    align-self: baseline;
    font-weight: bold;
    font-size:large;
}

.ConfirmButtonImage{
    float: right;
    width: auto;
    height: 50px;
    top: 30px;
}