body {
    display:flexbox;
    justify-content: normal;
    align-items: normal;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Images/Backgrounds/Gas3.png");
    background-repeat: space;
    background-size: cover;
}

.Logo {
    width: 100%;
    height: 120px;
    display: grid;
    justify-content: center;
    margin-top: 10%;
    align-content: center;
}

.Logo1 {
    width: 100%;
    margin-top: 10px;
    align-self: center;
}

.MainDiv {
    height: 100%;
}

.Icon1 {
    align-self: center;
    width: 90%;
    height: 100%;
}

.KeyInputDiv {
    display: flex;
}

.PostoInputDiv {
    display: flex;
}

.KeyInput {
    height: 20px;
}

.PostoInput {
    height: 30px;
    font-size: larger;
    font-weight: bold;
}

.PostoTexto {
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

.InputArea {
    position: absolute;
    width: 100%;
    display:block;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;
}

.InputSectionDiv {
    position: absolute;
    display: block;
    margin-left: 0%;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-content: center;
    bottom: 200px;
}

.Icon {
    margin-right: 20px;
}

.Icon1 {
    height: 200px;
}

.PostoInputDiv {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 200px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

#ConfirmButtonDiv {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.ConfirmButton {
    cursor: pointer;
    background: linear-gradient(145deg, #d9d9d9, #a6a6a6, #dddddd);
    backdrop-filter: blur(5px);
    color: #f0f0f0;
    width: 300px;
    height: 40px;
    margin-top: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #a6a6a6;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    box-shadow: #303030 0px 0px 10px 2px;
    box-shadow: inset 2px 2px 4px #ffffff70,
                inset -2px -2px 4px #00000040,
                0 4px 8px #00000080;
    text-shadow: 0 1px 1px #00000080, 0 -1px 1px #ffffff80;

    /* Confirm Button Txt Style */

    color: black;
    text-align: center;
    align-self: baseline;
    font-family: sans-serif;
}

#ConfirmButtonText {
    text-align: center;
    align-self: baseline;
    font-weight: bold;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    text-decoration: none;
}

.ConfirmButton a {
    text-decoration: none;
}

.ConfirmButtonImage {
    float: right;
    width: auto;
    height: 50px;
    top: 30px;
}

.ConfirmButtonDiv2 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.ConfirmButton2 {
    cursor: pointer;
    background: linear-gradient(145deg, #d9d9d9, #a6a6a6, #dddddd);
    backdrop-filter: blur(5px);
    color: #f0f0f0;
    width: 300px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #a6a6a6;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    box-shadow: #303030 0px 0px 10px 2px;
    box-shadow: inset 2px 2px 4px #ffffff70,
                inset -2px -2px 4px #00000040,
                0 4px 8px #00000080;
    text-shadow: 0 1px 1px #00000080, 0 -1px 1px #ffffff80;
    
    /* Confirm Button Txt Style */
    
    color: black;
    text-align: center;
    align-self: baseline;
    font-family: sans-serif;
}

.ConfirmButton2:hover {
    cursor: not-allowed;
}

.ConfirmButtonTextH1 {
    text-align: center;
    align-self: baseline;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 2px;
}

.ConfirmButtonText2H1{
    text-align: center;
    align-self: baseline;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 2px;
    color: #303030;
}

.FooterText {
    color: whitesmoke;
    text-align: left;
    font-size: small;
}

@media screen and (max-width: 600px) {
     body {
        height: 90vh;
        background-size: 260%;
     }
}